<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PNFSOTD</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body class="app">
        <div class="content">
            <h1 class="pageTitle">Phineas and Ferb Song of the Day</h1>
            <p class="songOfTheDay">The song of the day is...<p>
            <div class="songDiv">
                <img class="cover" alt="{{altText}}" src="{{image}}">
                <p ><span class="trackTitle">"{{name}}"</span> <br><a href="{{url}}">(listen on spotify)</a></p>
                <p class="artists">by {% for artist in artists %}
                    {{artist}},
                    {% endfor %}</p>
            </div>
        </div>
        <p class="whiteText">NEXT SONG DROPS AT MIDNIGHT, CURRENT TIME-> <span id="timer"></span></p>
        <p style="color:yellow">Not seeing the right time? Go to pnfsotd.com/[utc_offset]. (Google that if you don't know what it is, it is very easy. Example: "What is UTC offset for EST?")</p>
    </body>
    <style>
        @font-face {
            font-family: BoldDoodle;
            src: url("fonts/bolddoodle.ttf");
        }
        @font-face {
            font-family: bilderberg;
            src: url("fonts/bilderberg.otf");
        }
        @font-face {
            font-family: eroded;
            src: url("fonts/eroded.ttf");
        }
        @font-face {
            font-family: orangeave;
            src: url("fonts/orangeave.otf");
        }
        .app {
            background-color: purple;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .pageTitle{
            font-family: eroded;
            font-size: 400%;
        }
        .songOfTheDay {
            font-family: orangeave;
            font-size: 150%;
        }
        .trackTitle {
            font-family: bolddoodle;
            font-size: 200%;
        }
        .content {
            border-left: 20px groove orange;
            border-right: 20px groove orange;
            background-color: yellow;
            padding: 2%;
            border-style: ;
        }
        .cover {
            max-width: 50%;
        }
        .songDiv {
            padding: 1%;
            border: 5px dotted black;
        }
        .artists {
            font-family: bilderberg;
        }
        .whiteText{
            color: white;
            font-size:150%;
        }
        
        @media (max-width: 768px) {
            .pageTitle {
            font-size: 300%;
            }
        
        .cover {
            max-width: 100%;
        }
        }
    </style>
    <script>
        const offsetMs = {{offset}} * 60 * 60 * 1000;
        setInterval(function() {
            var userTime = new Date(new Date().getTime() + offsetMs);
            var h = String(userTime.getUTCHours()).padStart(2, '0');
            var m = String(userTime.getUTCMinutes()).padStart(2, '0');
            var s = String(userTime.getUTCSeconds()).padStart(2, '0');
            document.getElementById("timer").innerHTML = `${h}:${m}:${s}`;
        }, 1000);
    </script>
</html>